@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    font-family: 'Dovemayo_gothic';
    margin: 0;
    padding: 0;
}

input, button {
    border: none;
    outline: none;
    border-radius: 10px;
}

input:focus-visible {
    outline: none;
}

button:active {
    border-style: none;
    filter: brightness(0.5);
}

#header {
    background-image: url();
}