#room-container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    background-image: url(/public/room/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
}

#uproof {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -20vw;

    width: 100vw;
    filter: brightness(0.8);
}

#player-container {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}

.cam {
    background-color: black;
    width: 20vw;
    min-width: 240px;
    height: 25vh;
    margin: 1vw;
}

#chat-area-container {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70vw;
    height: 20vh;
    opacity: 0.8;
    overflow: scroll;

    border-radius: 10px;
    background-color: white;
    text-align: left;
}

.chat-area-content {
    padding-bottom: 10px;
}
.chat-area-content:last-child {
    padding-bottom: 0;
}
.chat-area-content>.name {
    display: inline-block;
    font-size: 20px;
}
.chat-area-content>.time {
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
    color: #898989;
}
.chat-area-content>.message {
    display: block;
    font-size: 24px;
}

#chat-input {
    padding: 20px;
    width: 60vw;
    font-size: 20px;
}

#chat-input:focus-visible {
    outline: 3px solid #FFB833 !important;
}

#chat-button {
    padding: 20px;
    margin-left: 20px;
    width: 100px;
    height: auto;

    font-size: 20px;
    background-color: #c20202;
    color: white;

    --bouncing-offset: 0.35em;
    --bg: 0, 60%, 48%;
    line-height: 1;
    box-shadow: 0 var(--bouncing-offset) 0 0 hsl(var(--bg), 0.4);
}

#chat-button:active,
#chat-button:focus-visible {
    transform: translateY(var(--bouncing-offset));
    box-shadow: none;
}